<form role="form">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-4">
          <label for="e_message_type"></label>
        </div>
        <div class="col-sm-8">
          <select name="e_message_type" id="e_message_type">
            <option value="0">广播</option>
            <option value="1">私信</option>
            <option value="2">命令</option>
            <option value="3">推送</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="e_content">消息内容</label>
      <textarea name="e_content" id="e_content" cols="30" rows="3"></textarea>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-5">
          <select name="" id="" size="10">

          </select>
        </div>
        <div class="col-sm-2">  
          <button>《 添加</button>
          <button>删除 》</button>
        </div>
        <div class="col-sm-5">
          <div class="row">
            <input type="search">
          </div>
          <div class="row">
            <select name="" id="" size="10">

            </select>
          </div>
          
        </div>
      </div>
    </div>
   
    <button type="submit" class="btn btn-default">保存</button>
    <button type="button" class="btn btn-default">取消</button>
  </form>