<form class="form-inline">
  <div class="form-group">
    <label for="s_type">log类型</label>
    <input type="text" class="form-control" id="s_type" >
  </div>
  <div class="form-group">
    <label for="s_id">log提交设备</label>
    <input type="text" class="form-control" id="s_id" >
  </div>
  <div class="form-group">
      <label for="s_content">log内容</label>
      <input type="text" class="form-control" id="s_content" >
    </div>
  <div class="form-group">
    <label for="exampleInputEmail2">区间</label>
    <!-- <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com"> -->
    <input type="date" id="s_date_from">
    ~
    <input type="date" id="s_date_to">
  </div>
  <!-- <button type="submit" class="btn btn-default">Send invitation</button> -->
</form>
<div class="row text-rigit">
  <button class="warning">查询</button>
</div>
